<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario</title>
</head>

<body>
    <!--Datos para la tabla Usuarios y la tabla Documentos-->
    <form method="POST"> 
        <h1>Formulário de contacto</h1>
        <p>
            Nombre: <br />
            <input type="text" name="Nombre">
        </p>

        <p>
            Email: <br />
            <input type="text" name="Email">
        </p>
        <p>
            Password: <br />
            <input type="text" name="Pass">
        </p>
        <p>
            Numero: <br />
            <input type="text" name="Numero">
        </p>
        <p>
            Direccion: <br />
            <input type="text" name="Direccion">
        </p>
        <p>
            tipo: <br />
            <input type="text" name="Tipo">
        </p>

        <p>
            <input type="submit" value="Enviar formulário">
        </p>
    </form>

</body>

</html>