<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %> </title>
</head>
<body>
        <h1>Bienvenido <%= title %></h1>  
        <form  method="POST">
        <p> Nombre: <br/> <input type="text" name="name"></p>
        <input type="submit" value="Cambiar nombre">
        </form>

        <form  method="POST">
        <p>Email: <br/><input type="text" name="email"></p>
        <input type="submit" value="Cambiar email">
        </form>

        <form  method="POST">
        <p> Password: <br/><input type="text" name="pass"></p>
        <input type="submit" value="Cambiar clave">
        </form>

        <form  method="POST">
        <p> Numero: <br/> <input type="text" name="numero"></p>
        <input type="submit" value="cambiar numero de documento">
        </form>

        <form  method="POST">
        <p> Direccion: <br/><input type="text" name="direccion"></p>
        <input type="submit" value="cambiar direccion">
        </form>

        <form  method="POST">
        <p> tipo: <br/><input type="text" name="Tipo"></p>
        <input type="submit" value="cambiar Tipo de DNi">
        </form>  
</body>
</html>
